@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <MudDrawer Open="true" Variant="DrawerVariant.Persistent" Elevation="1">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="content pa-6">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
